
body {
    background:#000000;
    filter: none !important;  /*over ride IE filter*/
}

#canvas-container {
    width: 100%;
    position: relative;
    text-align: center;
}

#myCanvas {

    position: absolute;
    left: 25%;
    border: 1px solid #ffffff;

}

#gameOver {

    position: absolute;
    left: 40%;
    top: 20%;
    color: #ff7f00;
    font-size: 40px;
    cursor: default;
    display: none;
}

#startScreen {
    width: 80%;
    color:#ffffff;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    vertical-align: middle;

}
