
body {
    background:#000000;
    filter: none !important;  /*over ride IE filter*/
}

#canvas-container {
    width: 100%;
    text-align: center;
    /*border: 1px solid #ffffff;*/
}
canvas {

    border: 1px solid #ffffff;
    display: inline;
}
